pandas
langchain
langchain-core
langchain-community
langchain_ollama
langchain-redis
langchain-huggingface
langchain-chroma
jupyterlab
notebook
sentence-transformers
numpy
scikit-learn
chainlit
python-dotenv
sentence_transformers
unstructured
pypdf
ctransformers
Markdown
openpyxl
huggingface_hub